<div
    #containerEl
    style="
        display: grid;
        height: calc(100% - 64px);
        grid-template-rows: max-content 1fr;
        grid-template-columns: max-content 1fr;
        overflow: hidden;
    "
    class="container"
>
    <!-- Top-left corner -->
    <div
        style="
            z-index: 2;
            border-right: 3px solid rgb(194, 24, 91);
            border-bottom: 3px solid rgb(194, 24, 91);
        "
    ></div>

    <!-- Column titles -->
    <div
        [style.overflow]="'visible'"
        [style.z-index]="1"
        style="
            max-height: 150px;
            overflow-wrap: anywhere;
            border-bottom: 3px solid rgb(194, 24, 91);
        "
    >
        <!-- This div is transform'd -->
        <div style="overflow-y: hidden; max-height: 100%">
            <div *ngIf="gridView$ | async as gridView" [style.display]="'flex'">
                <div
                    *ngFor="let col of gridView.cols; index as c"
                    [style.width.px]="(col.dim + padding) * scale"
                    [style.justify-content]="'center'"
                    [style.font-size.rem]="1.2"
                    style="padding: 10px 0px"
                    class="flex-row"
                >
                    {{ col.title }}
                </div>
            </div>
        </div>
    </div>

    <!-- Row Titles -->
    <div
        [style.overflow]="'visible'"
        [style.z-index]="1"
        class="flex-col"
        style="
            max-width: 150px;
            overflow-wrap: anywhere;
            border-right: 3px solid rgb(194, 24, 91);
        "
    >
        <!-- This div is transform'd -->
        <div style="overflow-x: hidden; max-width: 100%">
            <ng-container *ngIf="gridView$ | async as gridView">
                <div
                    *ngFor="let row of gridView.rows; index as r"
                    [style.height.px]="(row.dim + padding) * scale"
                    [style.justify-content]="'center'"
                    [style.font-size.rem]="1.2"
                    style="padding: 0px 10px"
                    class="flex-col"
                >
                    {{ row.title }}
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Images -->
    <svg
        style="min-height: 0; min-width: 0"
        [style.overflow]="'visible'"
        #imageGrid
    >
        <style>
            @import url(assets/spinner/styles.css);
            #spinner {
                fill: rgb(194, 24, 91);
                stroke: #303030;
                stroke-width: 0.5px;
                z-index: 25;
                transform: translate(-36px, -36px) scale(3);
            }
        </style>

        <defs>
            <!-- 
                Taken from https://github.com/n3r4zzurr0/svg-spinners
                See assets/spinner/styles.css for the license
             -->
            <symbol id="spinner" width="24" height="24" viewBox="0 0 24 24">
                <rect
                    class="spinner_7uc5 spinner_ZAxd"
                    x="1"
                    y="6"
                    width="2.8"
                    height="12"
                />
                <rect
                    class="spinner_7uc5 spinner_RibN"
                    x="5.8"
                    y="6"
                    width="2.8"
                    height="12"
                />
                <rect
                    class="spinner_7uc5"
                    x="10.6"
                    y="6"
                    width="2.8"
                    height="12"
                />
                <rect
                    class="spinner_7uc5 spinner_RibN"
                    x="15.4"
                    y="6"
                    width="2.8"
                    height="12"
                />
                <rect
                    class="spinner_7uc5 spinner_ZAxd"
                    x="20.2"
                    y="6"
                    width="2.8"
                    height="12"
                />
            </symbol>
        </defs>

        <g>
            <g *ngIf="gridView$ | async as gridView">
                <g *ngFor="let row of gridView.rows; index as r">
                    <g *ngFor="let col of gridView.cols; index as c">
                        <g
                            *ngLet="gridView.cellAt(r, c) as cell"
                            [contextMenu]="contextMenu"
                            [contextMenuValue]="cell.image"
                        >
                            <!-- Outline -->
                            <rect
                                [attr.height]="cell.height"
                                [attr.width]="cell.width"
                                [attr.x]="cell.x + padding * (c + 1)"
                                [attr.y]="cell.y + padding * (r + 1)"
                                [attr.href]="cell.image.data"
                                stroke="black"
                                fill="#202020"
                                stroke-width="padding / 2"
                            ></rect>

                            <!-- Spinner -->
                            <g *ngIf="cell.image.status === 'LOADING'">
                                <use
                                    xlink:href="#spinner"
                                    *ngIf="getSpinnerPosition(image) as pos"
                                    [attr.x]="pos.x"
                                    [attr.y]="pos.y"
                                />
                            </g>

                            <!-- Image -->
                            <image
                                #image
                                [attr.height]="cell.height"
                                [attr.width]="cell.width"
                                [attr.x]="cell.x + padding * (c + 1)"
                                [attr.y]="cell.y + padding * (r + 1)"
                                [attr.href]="cell.image.data"
                            />
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>

<mat-toolbar class="flex-row" style="justify-content: space-between">
    <!-- Status -->
    <div
        class="flex-row"
        style="font-size: 14px; align-items: center; opacity: 0.69"
    >
        <ng-container *ngIf="status$ | async as status">
            {{ status.title }}
            <div
                style="
                    width: 1px;
                    background-color: white;
                    margin: 0px 10px;
                    height: 20px;
                "
            ></div>
            {{ status.loaded }}
        </ng-container>
    </div>
    <div class="flex-row" style="align-items: center">
        <mat-form-field class="zoom-field">
            <input
                class="no-spinner-buttons"
                matInput
                [ngModel]="(scale * 100).toFixed(0)"
                (ngModelChange)="scale = $event / 100"
                type="number"
                step="5"
                min="0"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <button mat-button (click)="setZoom(1, 0, 0, 500)">(R)eset</button>
    </div>
</mat-toolbar>

<context-menu
    #contextMenu
    menuClass="context-menu"
    (open)="onCtxMenuOpen(contextMenu)"
>
    <ng-template contextMenuItem let-value (execute)="onCopyImage($any(null))"
        >Copy image</ng-template
    >
    <ng-template contextMenuItem>Use as base</ng-template>
    <ng-template contextMenuItem let-value (execute)="onLoadImage($event)"
        >Load</ng-template
    >
</context-menu>

<style>
    .container > div {
        background-color: #303030;
    }

    .no-spinner-buttons::-webkit-outer-spin-button,
    .no-spinner-buttons::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .no-spinner-buttons[type="number"] {
        -moz-appearance: textfield;
    }

    ::ng-deep .zoom-field .mat-form-field-infix {
        border-top: 0;
        padding: 0;
    }
    ::ng-deep .zoom-field .mat-form-field-wrapper {
        padding: 0;
    }
    ::ng-deep .zoom-field .mat-form-field-underline {
        display: none;
    }
    ::ng-deep .mat-form-field-underline {
        display: none;
    }
    ::ng-deep .zoom-field .mat-form-field-suffix {
        margin-left: 2px;
    }
    ::ng-deep .zoom-field input {
        text-align: right;
    }
    ::ng-deep .zoom-field {
        font-size: 14px;
        font-weight: bold;
        width: 45px;
    }

    ::ng-deep .zoom-button .mat-button-wrapper > i {
        font-size: 1.2em;
        margin-top: -4px;
    }
</style>
