<div
    #containerEl
    style="
        display: grid;
        height: 100%;
        grid-template-rows: max-content 1fr;
        grid-template-columns: max-content 1fr;
        overflow: hidden;
    "
>
    <!-- Top-left corner -->
    <div></div>

    <!-- Column titles -->
    <div [style.overflow]="'visible'" [style.z-index]="1">
        <div *ngIf="gridView$ | async as gridView" [style.display]="'flex'">
            <div
                *ngFor="let col of gridView.cols"
                [style.width.px]="col.dim * scale"
                [style.display]="'flex'"
                [style.flex-flow]="'row'"
                [style.justify-content]="'center'"
                [style.font-size.rem]="1.5"
            >
                {{ col.title }}
            </div>
        </div>
    </div>

    <!-- Row Titles -->
    <div [style.overflow]="'visible'" [style.z-index]="1">
        <div *ngIf="gridView$ | async as gridView">
            <div
                *ngFor="let row of gridView.rows"
                [style.height.px]="row.dim * scale"
                [style.display]="'flex'"
                [style.flex-flow]="'column'"
                [style.justify-content]="'center'"
                [style.font-size.rem]="1.5"
            >
                {{ row.title }}
            </div>
        </div>
    </div>

    <!-- Images -->
    <svg
        style="min-height: 0; min-width: 0"
        [style.overflow]="'visible'"
        #imageGrid
    >
        <g>
            <g *ngIf="gridView$ | async as gridView">
                <g *ngFor="let row of gridView.rows; index as r">
                    <g *ngFor="let col of gridView.cols; index as c">
                        <image
                            *ngLet="gridView.cellAt(r, c) as cell"
                            [attr.height]="cell.height"
                            [attr.width]="cell.width"
                            [attr.x]="cell.x"
                            [attr.y]="cell.y"
                            [attr.href]="cell.image.data"
                            [contextMenu]="contextMenu"
                            contextMenuValue="value"
                        />
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>

<context-menu #contextMenu menuClass="context-menu">
    <ng-template contextMenuItem [passive]="true">
        <span class="menu-item-title">Context menu title</span>
    </ng-template>

    <ng-template contextMenuItem let-value
        >This is the context menu value "{{ value }}"</ng-template
    >
    <ng-template contextMenuItem let-value> Cut {{ value }} </ng-template>
    <ng-template contextMenuItem let-value [divider]="true"></ng-template>
    <ng-template contextMenuItem [disabled]="true">
        Disabled menu item
    </ng-template>
</context-menu>
