<mat-drawer-container autosize [style.height.%]="100">
    <mat-drawer #drawer mode="side" opened>
        <mat-tab-group mat-align-tabs="start" style="max-height: 100%">
            <mat-tab label="SETTINGS">
                <app-grid-settings></app-grid-settings>
            </mat-tab>
            <mat-tab label="FAVORITES">Content 2</mat-tab>
            <mat-tab label="HISTORY">Content 3</mat-tab>
        </mat-tab-group>
    </mat-drawer>

    <mat-drawer-content style="display: flex; flex-flow: column">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-button>DRAWER</button>
        </mat-toolbar>
        <div [style.height]="'calc(100% - 128px)'">
            <app-grid-view [style.height.%]="100"></app-grid-view>
        </div>
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-button>MINUS</button>
            <button (click)="drawer.toggle()" mat-button>PLUS</button>
            <button id="wtf" mat-button>RESET</button>
        </mat-toolbar>
    </mat-drawer-content>
</mat-drawer-container>
