<form style="display: flex; flex-flow: column">
    <mat-form-field appearance="outline">
        <mat-label>Prompt</mat-label>
        <textarea matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Negative Prompt</mat-label>
        <textarea matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Sampler</mat-label>
            <mat-select>
                <mat-option
                    *ngFor="let smplr of ['Euler', 'Euler a']"
                    [value]="smplr"
                >
                    {{ smplr }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Steps</mat-label>
            <input matInput type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CFG Scale</mat-label>
            <input matInput type="number" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Height</mat-label>
            <input matInput type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Width</mat-label>
            <input matInput type="number" />
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Seed</mat-label>
        <input matInput type="number" />
    </mat-form-field>

    <mat-divider></mat-divider>

    <div style="display: flex; flex-flow: row">
        <div
            (cdkDropListDropped)="drop($event)"
            cdkDropList
            style="display: flex; flex-flow: column"
        >
            <span>X Axis</span>
            <div
                *ngFor="let t of test"
                cdkDrag
                style="display: flex; flex-flow: row"
            >
                <mat-form-field appearance="outline">
                    <mat-label>{{ t }}</mat-label>
                    <input matInput type="number" />
                </mat-form-field>
                <div cdkDragHandle>DRAG</div>
                <div cdkDragHandle>ADD</div>
            </div>
        </div>
        <div style="display: flex; flex-flow: column">
            <span>Y Axis</span>
            <span>Y Axis</span>
            <span>Y Axis</span>
            <span>Y Axis</span>
        </div>
    </div>
</form>
