<div
    style="
        display: grid;
        grid-template-rows: minmax(0, 1fr) max-content;
        height: 100%;
    "
>
    <div style="min-height: 0; overflow: auto; padding: 20px 20px">
        <form
            *ngIf="loaded"
            [formGroup]="gridForm"
            style="display: flex; flex-flow: column"
            (keydown.control.enter)="save()"
        >
            <ng-container formGroupName="baseParams">
                <mat-form-field appearance="outline">
                    <mat-label>Prompt</mat-label>
                    <textarea
                        matInput
                        cdkTextareaAutosize
                        formControlName="prompt"
                    ></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label for="prompt_negative">Negative Prompt</mat-label>
                    <textarea
                        matInput
                        cdkTextareaAutosize
                        formControlName="prompt_negative"
                    ></textarea>
                </mat-form-field>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Sampler</mat-label>
                        <mat-select formControlName="sampler">
                            <mat-option
                                *ngFor="let smplr of ['Euler', 'Euler a']"
                                [value]="smplr"
                            >
                                {{ smplr }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Steps</mat-label>
                        <input formControlName="steps" matInput type="number" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Height</mat-label>
                        <input formControlName="width" matInput type="number" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Width</mat-label>
                        <input
                            formControlName="height"
                            matInput
                            type="number"
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>CFG Scale</mat-label>
                        <input
                            formControlName="cfg_scale"
                            matInput
                            type="number"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Seed</mat-label>
                        <input formControlName="seed" matInput type="number" />
                    </mat-form-field>
                </div>
            </ng-container>

            <mat-divider></mat-divider>

            <!-- x-axis -->
            <ng-container
                *ngTemplateOutlet="
                    axisTemplate;
                    context: {
                        controlId: 'xAxis',
                        title: 'X-Axis',
                        formGroup: gridForm
                    }
                "
            ></ng-container>

            <mat-divider></mat-divider>

            <!-- y axis -->
            <ng-container
                *ngTemplateOutlet="
                    axisTemplate;
                    context: {
                        controlId: 'yAxis',
                        title: 'Y-Axis',
                        formGroup: gridForm
                    }
                "
            ></ng-container>
        </form>
    </div>

    <mat-toolbar style="justify-content: flex-end">
        <button [disabled]="!activeGrid" (click)="reset()" mat-button>
            Reset
        </button>
        <button (click)="save()" mat-button>Save</button>
    </mat-toolbar>
</div>

<style>
    form > div {
        display: flex;
        justify-content: space-between;
    }

    .las {
        font-size: 1.7em;
        height: 30px;
        width: 30px;
        margin-top: 4px;
    }

    .mt-17 {
        margin-top: 10px;
    }

    .mat-divider {
        margin: 5px 0px 25px 0px;
    }
</style>

<ng-template
    #axisTemplate
    let-controlId="controlId"
    let-title="title"
    let-formGroup="formGroup"
>
    <div [formGroup]="formGroup" class="flex-row">
        <div
            *ngLet="$any(gridForm.controls)[controlId].value as axisId"
            class="flex-col"
            style="width: 100%"
        >
            <!-- axis type -->
            <mat-form-field appearance="outline">
                <mat-label>{{ title }}</mat-label>
                <mat-select [formControlName]="controlId">
                    <mat-option
                        *ngFor="
                            let opt of gridForm.controls['axisOptions'].controls
                                | keyvalue
                        "
                        [value]="$any(AXES)[opt.key].id"
                    >
                        {{ $any(AXES)[opt.key].name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- axis values -->
            <ng-container formGroupName="axisOptions">
                <ng-container [formArrayName]="axisId">
                    <div
                        *ngFor="
                            let x of $any(
                                $any(gridForm.controls.axisOptions).controls[
                                    axisId
                                ].controls
                            );
                            let i = index;
                            trackBy: trackByIndex
                        "
                        style="
                            display: grid;
                            grid-template-columns: 1fr repeat(4, max-content);
                        "
                    >
                        <mat-form-field appearance="outline">
                            <mat-label>{{ $any(AXES)[axisId].name }}</mat-label>
                            <input
                                #input
                                matInput
                                type="number"
                                [formControlName]="i"
                            />
                        </mat-form-field>
                        <button
                            #down
                            mat-icon-button
                            class="mt-17"
                            (keydown.ArrowRight)="up.focus()"
                            (keydown.ArrowLeft)="remove.focus()"
                            (focusin)="onAxisButtonFocus($event, input)"
                        >
                            <i class="las la-arrow-down"></i>
                        </button>
                        <button
                            #up
                            mat-icon-button
                            class="mt-17"
                            (keydown.ArrowRight)="add.focus()"
                            (keydown.ArrowLeft)="down.focus()"
                            tabindex="-1"
                        >
                            <i class="las la-arrow-up"></i>
                        </button>
                        <button
                            #add
                            mat-icon-button
                            class="mt-17"
                            (keydown.ArrowRight)="remove.focus()"
                            (keydown.ArrowLeft)="up.focus()"
                            tabindex="-1"
                        >
                            <i class="las la-plus"></i>
                        </button>
                        <button
                            #remove
                            mat-icon-button
                            class="mt-17"
                            (keydown.ArrowRight)="down.focus()"
                            (keydown.ArrowLeft)="add.focus()"
                            tabindex="-1"
                        >
                            <i class="las la-times"></i>
                        </button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
