app-grid-settings {
    height: 100%;
}

form > div {
    display: flex;
    justify-content: space-between;
}

.las {
    font-size: 1.7em;
    height: 30px;
    width: 30px;
    margin-top: 4px;
}

.mt-10 {
    margin-top: 10px;
}

.mat-divider {
    margin: 5px 0px 25px 0px;
}

.diff {
    margin-bottom: 15px;
}

::ng-deep .diff .mat-form-field-subscript-wrapper {
    top: calc(100% - 1.83em);
}

::ng-deep .mat-checkbox {
    font-size: 14px;
}
::ng-deep .mat-checkbox-frame,
::ng-deep .mat-checkbox-background {
    transform: scale(0.8);
}
