<div class="flex-row container" style="justify-content: space-between">
    <mat-form-field appearance="outline">
        <mat-label>Width</mat-label>
        <input
            #widthInput
            [ngModel]="width"
            (ngModelChange)="width = $event"
            (blur)="onInputBlur(widthInput.value, 'width')"
            matInput
            type="number"
            min="0"
            step="64"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <input
            #heightInput
            [ngModel]="height"
            (ngModelChange)="height = $event"
            (blur)="onInputBlur(heightInput.value, 'height')"
            matInput
            type="number"
            min="0"
            step="64"
        />
    </mat-form-field>
</div>

<style>
    .mat-form-field {
        width: 125px;
    }
</style>
